<div class="w-screen h-60 flex justify-center items-center gap-20 bg-[#d7fe00]">

    <div>
        <input type="text" placeholder="Email" class="p-5 rounded-4xl bg-black text-[#d7fe00]"/>
    </div>

    <div>
        <p class="text-2xl font-extrabold">SUBSCRIBETE PARA RECIBIR DESCUENTOS</p>
    </div>


</div>