<div class="w-screen h-60 flex justify-center items-center gap-20 bg-[url(/si.jpg)] bg-cover">

    <div>
        <input type="text" placeholder="Email" class="p-5 rounded-4xl bg-black text-white"/>
    </div>

    <div>
        <p class="text-2xl font-extrabold text-white">SUBSCRIBETE PARA RECIBIR DESCUENTOS</p>
    </div>


</div>