---
import Servicios from "./animaciones/Servicios";
---

<div id="services" class="flex justify-center items-center flex-col gap-20 mt-36">

    <p class="font-extrabold text-4xl"> SERVICIOS </p>

    <Servicios client:load/>

</div>