<div id="container" class="w-screen h-screen flex flex-col justify-center items-center gap-40">

	<div class="w-screen flex justify-center items-center p-10">

			<p class="text-[200px] text-black font-extrabold">INICIEMOS TU PROYECTO</p>
	</div>
</div>