---
import Ejemplo from "./animaciones/Ejemplo";
import Navbar from "./animaciones/Navbar";
import Verbum from "./animaciones/Verbum";

// Se puede combinar tailwind y css sin problema. se usa el id porque en el class iria el tailwind.
---

<div id="container" class="overflow-hidden w-screen min-h-screen flex flex-col justify-between	 bg-[#d7fe00]">

	<Navbar client:load/>
	
	
	<div class="flex flex-col justify-end w-screen p-10 items-end">
		
		<Verbum client:load/>
		
	</div>

	
</div>